# API Configuration

VITE_API_URL=http://127.0.0.1:8000

# Google OAuth Client ID (Public - Safe to expose)
VITE_GOOGLE_CLIENT_ID=403449405212-vht5vavb7vhbq0gk9slgo08ic1o8qp2c.apps.googleusercontent.com
# reCAPTCHA Site Key (Public - Safe to expose)
VITE_RECAPTCHA_SITE_KEY=6LcFGJcsAAAAAOGum8fjeFW3qhDypBeP7BlnAPm_
